img.intro {
  width:60%;
}

.column {
  width:30%;
  float:left;
}

.sidebar {
  width:30%;
  float:right;
  background-color:green;
}

#photo {
  width:200px;
}

h1 {
  font-family:cursive;
  color:green;
}

h4 {
  font-family:cursive;
  color:rgb(45, 129, 45);
}

h2 {
  font-family:cursive;
  color:rgb(26, 217, 26)
}